@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Generic Store</h1>
    <p class="lead">This is a generic store built for the purpose of assessing my coding ability for McCoy</p>
    <p><a href="/Stores/Index" class="btn btn-primary btn-lg">View Stores &raquo;</a></p>
</div>
